---
import { IHeroProps } from "@types";

const { name, about, paragraph } = Astro.props as IHeroProps;
---

<section>
  <p class="dark:text-light mt-[117px]">Hi, my name is</p>
  <h1>{name}</h1>
  <p class="dark:text-light text-lg mb-16">
    {about}
    <br>
    <br>
    My academic path has been fueled by an insatiable curiosity and a constant eagerness to learn about various robotics-related topics. I’m a passionate about research and development.
  </p>
</section>
